@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>String Activity</h1>
<div>
    <form asp-action="SayHello" method="post">
        <input name="inputString" />
        <input name="submit" type="submit" />
    </form>
    <p>
        @Model
    </p>
</div>