@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div>
    <form asp-action="SayHandsome" method="post">
        <input integer="inputRating" />
        <input name="submit" type="submit" />
    </form>
    
    <p>
        @Model
    </p>
</div>
