
@model int
@{
    ViewData["Title"] = "Index";
}
<h1>Dates</h1>
<div>
    <form asp-action="DateMagic" method="post">
        <p>Enter your birthday: <input name="inputBirthday" type="date" /></p>
        <input name="submit" type="submit" />
    </form>
    <p>            Number of leap years you've lived through: @Model</p>
</div>